body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -9999px;
}

.skip-link:focus {
  position: static;
  left: 0;
  top: 0;
  background-color: yellow;
  padding: 10px;
  z-index: 1000;
}

header {
  background-color: #333;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 10px;
}

img{
  border: 5px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}

img:nth-child(odd) {
  border-radius: 20px;
}

img:nth-child(even) {
  border-radius: 10px;
}

